page-login {
  .row-title {
    margin-top: 10vh;
  }

  .row-login-form {
    margin-top: 7vh;
  }

  .row-login-buttons {
    margin-top: 10vh;

    button {
      margin-bottom: 4vh;
    }

    button:last-child {
      margin-bottom: 0;
    }
  }
}
