page-student-setup {
  .row-title {
    margin-top: 6vh;
  }

  .row-message {
    margin-top: 10vh;
  }

  .row-buttons {
    margin-top: 6vh;
  }

  ion-content.import-enabled {
    .row-message {
      margin-top: 5vh;
    }

    .row-buttons {
      margin-top: 5vh;
    }
  }
}
