<ion-header class="rec-header">
  <ion-row>
    <!-- Back Icon -->
    <ion-row class="row-back-icon" [hidden]="isSetup && formSeq.currentStep == formSeq.startStep && importEnabled == false">
      <ion-icon name="arrow-round-back" class="icon-link back-icon block fg-dark opacity-50" (click)="backBtn()"></ion-icon>
    </ion-row>
    <!-- End Back Icon -->

    <!-- Title -->
    <ion-row class="row-title">
      <h1 class="fg-grey text-center no-padding">RecruitR</h1>
      <h3 class="text-center no-padding">{{ formSeq.formTitles[formSeq.currentStep] }}</h3>
    </ion-row>
    <!-- End Title -->

    <!-- Progress Bar -->
    <ion-row class="row-progress" [hidden]="!isSetup">
      <ion-col>
        <div class="progress-bar-wrapper">
          <p class="progress-bar-label no-margin">STEP {{ formSeq.currentStep + 1 }} of {{ formSeq.maxSteps + 1 }}</p>
          <div class="progress-bar">
            <div class="bar" [style.width.%]="formSeq.progressWidth"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!-- End Progress Bar -->

  </ion-row>
</ion-header>

<ion-content padding class="rec-content bg-white">
  <div class="loader-wrapper" *ngIf="loading">
    <ion-spinner name="bubbles" class="primary"></ion-spinner>
  </div>
  <div [hidden]="loading">
    <!-- Step 0 -->
    <ion-row class="row-form" [ngClass]="formSeq.formClasses[0]" *ngIf="isSetup || formSeq.startStep == 0">
      <ion-col>
        <form #form0="ngForm">
          <div [ngClass]="{'rec-input-group': !isSetup, 'rec-input-group-small': isSetup}">
            <label class="rec-label rl-secondary">UNIVERSITY</label>
            <select-searchable
              name="university"
              class="rec-input ri-grey clearfix"
              required
              [(ngModel)]="educationModel.school"
              [items]="universityOptions"
              itemTextField="name"
              [canSearch]="true"
              [multiple]="false"
              title="University">
            </select-searchable>
          </div>
          <div [ngClass]="{'rec-input-group': !isSetup, 'rec-input-group-small': isSetup}">
            <label class="rec-label rl-secondary">MAJOR</label>
            <select-searchable
              name="major"
              class="rec-input ri-grey clearfix"
              required
              [(ngModel)]="educationModel.major"
              [items]="majorOptions"
              itemTextField="name"
              [canSearch]="true"
              [multiple]="false"
              title="Major">
            </select-searchable>
          </div>
          <div [ngClass]="{'rec-input-group': !isSetup, 'rec-input-group-small': isSetup}">
            <label class="rec-label rl-secondary">GPA</label>
            <input type="number" name="gpa" class="rec-input ri-grey" required [(ngModel)]="educationModel.gpa">
          </div>
          <div [ngClass]="{'rec-input-group': !isSetup, 'rec-input-group-small': isSetup}">
            <label class="rec-label rl-secondary">EXPECTED GRADUATION DATE</label>
            <ion-datetime name="graduationDate"  required class="rec-input ri-grey" displayFormat="MM/YYYY" pickerFormat="MM YYYY" max="{{ maxYear }}" [(ngModel)]="educationModel.graduationDate"></ion-datetime>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <!-- End Step 0 -->

    <!-- Step 1 -->
    <ion-row class="row-form" [ngClass]="formSeq.formClasses[1]" [hidden]="formSeq.initHide" *ngIf="isSetup || formSeq.startStep == 1">
      <ion-col>
        <form #form1="ngForm">
          <div [ngClass]="{'rec-input-group': !isSetup, 'rec-input-group-small': isSetup}">
            <label class="rec-label rl-secondary">CONTACT EMAIL</label>
            <input type="text" name="contactEmail" class="rec-input ri-grey" required [(ngModel)]="contactModel.contactEmail">
          </div>
          <div [ngClass]="{'rec-input-group': !isSetup, 'rec-input-group-small': isSetup}">
            <label class="rec-label rl-secondary">PHONE NUMBER</label>
            <input type="text" name="phoneNumber" class="rec-input ri-grey" required [(ngModel)]="contactModel.phoneNumber">
          </div>
        </form>
      </ion-col>
    </ion-row>
    <!-- End Step 1 -->

    <!-- Step 2 -->
    <ion-row class="row-form row-buttons" [ngClass]="formSeq.formClasses[2]" [hidden]="formSeq.initHide" *ngIf="isSetup || formSeq.startStep == 2">
      <ion-col>
        <form #form2="ngForm">
          <ion-row class="row-message">
            <h3>Alter your <span class="fg-accent">job preferences</span> here.<span [hidden]="isSetup"><br>These will help filter matches.</span></h3>
            <h3 [hidden]="!isSetup">This step is <span class="fg-accent">optional</span> in setup.</h3>
          </ion-row>
          <ion-row class="row-one clearfix">
            <div class="circle-icon-btn-wrapper" [ngClass]="{'small': isSetup}">
              <ion-icon name="ios-pin" class="icon-link circle-icon-btn" [ngClass]="{'small': isSetup}" (click)="jobLocationsModal()"></ion-icon>
              <h3 class="text-center fg-dark">Job<br>Locations</h3>
            </div>
            <div class="circle-icon-btn-wrapper" [ngClass]="{'small': isSetup}">
              <ion-icon name="ios-briefcase" class="icon-link circle-icon-btn" [ngClass]="{'small': isSetup}" (click)="jobIndustriesModal()"></ion-icon>
              <h3 class="text-center fg-dark">Job<br>Industries</h3>
            </div>
          </ion-row>
          <ion-row class="row-two clearfix">
            <div class="circle-icon-btn-wrapper" [ngClass]="{'small': isSetup}">
              <ion-icon name="ios-expand" class="icon-link circle-icon-btn" [ngClass]="{'small': isSetup}" (click)="companySizesModal()"></ion-icon>
              <h3 class="text-center fg-dark">Company<br>Size</h3>
            </div>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <!-- End Step 2 -->

    <!-- Step 3 -->
    <ion-row class="row-form" [ngClass]="formSeq.formClasses[3]" [hidden]="formSeq.initHide" *ngIf="isSetup || formSeq.startStep == 3">
      <ion-col>
        <form #form3="ngForm">
          <select-searchable name="skills" class="rec-select-searchable-btn circle has-header clearfix" [(ngModel)]="skills" [items]="skillOptions"
            itemTextField="name" [canSearch]="true" [multiple]="true" title="Skills" (onSearch)="searchSkills($event)">
          </select-searchable>
          <div [ngClass]="{'rec-input-group': !isSetup, 'rec-input-group-small': isSetup}">
            <ion-list class="rec-reorder-list">
              <div class="list-header-wrapper">
                <ion-list-header class="header-no-min-height font-large">SKILLS</ion-list-header>
              </div>
              <ion-item-group reorder="true" side="start" (ionItemReorder)="$event.applyTo(skills)">
                <ion-item *ngFor="let skill of skills; let i = index">
                  <h5>{{ skill.name }}</h5>
                  <ion-icon name="md-close-circle" class="fake-link" (click)="removeSkill(i)"></ion-icon>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </div>
        </form>
        <form #form3="ngForm">
          <select-searchable name="Tools" class="rec-select-searchable-btn circle has-header clearfix" [(ngModel)]="tools" [items]="ToolsOptions"
            itemTextField="name" [canSearch]="true" [multiple]="true" title="Tools" (onSearch)="searchTools($event)">
          </select-searchable>
          <div [ngClass]="{'rec-input-group': !isSetup, 'rec-input-group-small': isSetup}">
            <ion-list class="rec-reorder-list">
              <div class="list-header-wrapper">
                <ion-list-header class="header-no-min-height font-large">Tool Proficiency</ion-list-header>
              </div>
              <ion-item-group reorder="true" side="start" (ionItemReorder)="$event.applyTo(tools)">
                <ion-item *ngFor="let tool of tools; let i = index">
                  <h5>{{ tool.name }}</h5>
                  <ion-icon name="md-close-circle" class="fake-link" (click)="removeTool(i)"></ion-icon>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <!-- End Step 3 -->
  </div>
</ion-content>

<!-- Button Footer -->
<ion-footer class="button-footer" [hidden]="formSeq.currentStep == 2 && !isSetup">
  <ion-row>
    <button  class="rec-btn-small-wide rec-btn-primary btn-stacked center rec-load-btn" (click)="continueClicked()" [disabled]="saving">
      {{ ((!isSetup) ? ((saving) ? '' : 'Save') : (formSeq.currentStep == formSeq.maxSteps) ? ((saving) ? '' : 'Finish') : ((saving) ? '' : 'Continue')) }}
      <ion-spinner class="white" name="dots" [hidden]="!saving"></ion-spinner>
    </button>
  </ion-row>
  <p style="font-size:x-small;">This site incorporates information from <a style="font-size:small" href="https://services.onetcenter.org/">O*NET Web Services</a> by the U.S. Department of Labor, Employment and Training Administration (USDOL/ETA). </p>
</ion-footer>
<!-- End Button Footer -->
