page-register {
  .row-message {
    margin-top: 5vh;

    h3 {
      width: 100%;
      margin: 0;
      text-align: center;
      line-height: 32px;
    }
  }

  .row-buttons {
    margin-top: 7vh;
  }
}
