<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Job List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-full-image" padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div class="loader-wrapper" *ngIf="pageLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div class="job-matches-wrapper">
    <div class="job-matches-header" *ngIf="!pageLoading">
      <h3 class="text-pill bg-white fg-accent text-center center fake-link" (click)="showActionSheet()" (swipe)="swipe($event)">{{ (activeJobs) ? 'Active Jobs' : 'Inactive Jobs' }} <ion-icon name="ios-more" class="more-icon fg-dark"></ion-icon></h3>
      <p class="fg-white text-center bold" [hidden]="!activeJobs || (jobList == undefined || jobList.length == 0)">The jobs listed below are active and can be applied to. Tap one to review any matches.</p>
      <p class="fg-white text-center bold" [hidden]="activeJobs || (jobList == undefined || jobList.length == 0)">The jobs listed below are inactive and can't be matched. Swipe left on a job to reactivate it.</p>
    </div>
    <div class="job-matches-list" *ngIf="!pageLoading && jobList != undefined && jobList.length > 0">
      <ion-list>
        <ion-item-sliding *ngFor="let job of jobList" class="list-item-card outer final-match fake-link">
          <ion-item class="list-item-card inner" (click)="viewJobMatches(job)">
            <ion-icon name='md-alert' class="item-card-icon fg-primary" *ngIf="!activeJobs"></ion-icon>
            <div class="item-card-icon-div bg-primary fg-white" *ngIf="activeJobs">
              {{ job.numMatches }}
            </div>
            <div class="item-card-content with-icon">
              <h5 class="fg-dark">{{ job.positionTitle }}</h5>
              <p class="fg-grey">{{ job.locations[0] }}</p>
            </div>
            <div class="duration-wrapper item-card"
                [ngClass]="{'duration-notice': job.numDaysRemaining < 4, 'duration-urgent': job.numDaysRemaining <= 1}"
                *ngIf="activeJobs">
              <ion-icon class="duration-icon" name="md-time"></ion-icon>
              <span>{{ job.numDaysRemaining }}</span>
            </div>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="accent" (click)="editJob(job)" class="font-body">
              <ion-icon name="md-create"></ion-icon>
              Edit
            </button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="deny" (click)="deactivateJob(job)" class="font-body" *ngIf="activeJobs">
              <ion-icon name="ios-archive"></ion-icon>
              Deactivate
            </button>
            <button ion-button color="accept" (click)="reactivateJob(job)" class="font-body" *ngIf="!activeJobs">
              <ion-icon name="ios-checkmark-circle"></ion-icon>
              Reactivate
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>

  <!-- Empty List Message -->
  <div class="match-list-empty" *ngIf="!pageLoading && (jobList == undefined || jobList.length == 0)">
    <div [hidden]="!activeJobs">
      <div class="sep-horizontal-1"></div>
      <h3 class="fg-white text-center">You don't have any active jobs. Create or import new ones using the buttons below.</h3>
      <div class="sep-horizontal-1"></div>
      <button class="rec-btn-small-wide rec-btn-white btn-stacked center" (click)="createJobLink()">Create Job</button>
      <button class="rec-btn-small-wide rec-btn-white btn-stacked center" (click)="importJobLink()">Import Job</button>
    </div>
    <div [hidden]="activeJobs">
      <div class="sep-horizontal-1"></div>
      <h3 class="fg-white text-center">You don't have any inactive jobs. Return to the active jobs list.</h3>
      <div class="sep-horizontal-1"></div>
      <button class="rec-btn-small-wide rec-btn-white btn-stacked center" (click)="showActiveJobs()">Active Jobs</button>
    </div>
  </div>
  <!-- End Empty List Message -->
</ion-content>
