page-student-profile-details {
  ion-content.content-ios, ion-content.content-md {
    background-color: map-get($colors, light);
  }

  ion-content.content-ios {
    .row-title {
      margin-top: 13px;
    }
  }

  ion-content.content-md {
    .row-title {
      margin-top: 6px;
    }
  }

  .row-back-icon {
      padding-left: 20px;
      padding-top: 10px;
      position: absolute;

      .back-icon {
        opacity: .6;
      }
  }

  .row-message {
    margin-top: 6vh;

    h3 {
      width: 100%;
      margin: 0;
      text-align: center;
      line-height: 32px;
    }
  }

  .row-buttons {
    margin-top: 8vh;

    button {
      margin-bottom: 6vh;
      width: 75%;
      height: 75px;
    }
  }
}
