page-student-setup {
  background: url(#{$image-path}/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .row-title {
    margin-top: 6vh;
  }

  .row-message {
    margin-top: 10vh;
  }

  .row-buttons {
    margin-top: 6vh;
  }
}
