page-company-register-confirm {
  .row-title {
    margin-top: 6vh;
  }

  .row-message {
    margin-top: 8vh;
  }

  .row-buttons {
    margin-top: 6vh;
  }

  .import-job-btn {
    margin-top: 40px;
  }
}
