<ion-header class="rec-header">
  <ion-row>
    <!-- Back Icon -->
    <ion-row class="row-back-icon">
      <ion-icon name="arrow-round-back" class="icon-link back-icon block fg-dark opacity-50" (click)="backBtn()"></ion-icon>
    </ion-row>
    <!-- End Back Icon -->

    <!-- Title -->
    <ion-row class="row-title">
      <h1 class="fg-grey text-center no-padding">RecruitR</h1>
      <h3 class="text-center no-padding">{{ formSeq.formTitles[formSeq.currentStep] }}</h3>
    </ion-row>
    <!-- End Title -->

    <!-- Save Button -->
    <button class="rec-btn-circle rec-btn-accent rec-load-btn save-btn" (click)="updateJob()" [disabled]="saving" [hidden]="!editMode">
      <ion-icon><i class="fa fa-floppy-o"></i></ion-icon>
    </button>
    <!-- End Save Button -->

    <!-- Progress Bar -->
    <ion-row class="row-progress">
      <ion-col>
        <div class="progress-bar-wrapper">
          <p class="progress-bar-label no-margin">STEP {{ formSeq.currentStep + 1 }} of {{ formSeq.maxSteps + 1 }}</p>
          <div class="progress-bar">
            <div class="bar" [style.width.%]="formSeq.progressWidth"></div>
          </div>
          <div class="progress-dots">
            <div class="progress-dot fake-link"
                [ngClass]="{'active': formSeq.currentStep == 0, 'error': form0.invalid && showErrorDots}" 
                (click)="setStep(0)">1</div>
            <div class="progress-dot fake-link"
                [ngClass]="{'active': formSeq.currentStep == 1, 'error': form1.invalid && showErrorDots}"
                (click)="setStep(1)">2</div>
            <div class="progress-dot fake-link"
                [ngClass]="{'active': formSeq.currentStep == 2, 'error': reqSkills.length == 0 && showErrorDots}"
                (click)="setStep(2)">3</div>
            <div class="progress-dot fake-link"
                [ngClass]="{'active': formSeq.currentStep == 3, 'error': form3.invalid && showErrorDots}"
                (click)="setStep(3)">4</div>
            <div class="progress-dot fake-link"
                [ngClass]="{'active': formSeq.currentStep == 4, 'error': form4.invalid && showErrorDots}"
                (click)="setStep(4)">5</div>
            <div class="progress-dot fake-link"
                [ngClass]="{'active': formSeq.currentStep == 5, 'error': form5.invalid && showErrorDots}"
                (click)="setStep(5)">6</div>
            <div class="progress-dot fake-link"
                [ngClass]="{'active': formSeq.currentStep == 6, 'error': form6.invalid && showErrorDots}"
                (click)="setStep(6)">7</div>
            <div class="progress-dot fake-link"
                [ngClass]="{'active': formSeq.currentStep == 7, 'error': (linksList.length == 0 || linksList.length > 3) && showErrorDots}"
                (click)="setStep(7)">8</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!-- End Progress Bar -->

  </ion-row>
</ion-header>

<ion-content padding class="rec-content bg-white">

  <!-- Step 0 -->
  <ion-row class="row-form " [ngClass]="formSeq.formClasses[0]">
    <ion-col>
      <form #form0="ngForm">
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">JOB TITLE</label>
          <input type="text" name="positionTitle" class="rec-input ri-grey" required [(ngModel)]="jobModel.positionTitle">
        </div>
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">JOB LOCATIONS</label>
          <ion-select name="locations" class="rec-input ri-grey" required [(ngModel)]="jobModel.locations" multiple="true">
            <ion-option *ngFor="let option of recruiter.company.locations" value="{{ option }}">{{ option }}</ion-option>
          </ion-select>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 0 -->

  <!-- Step 1 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[1]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form1="ngForm">
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">JOB DESCRIPTION
            <ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="descriptionInfo()"></ion-icon>
          </label>
          <textarea [froalaEditor]="helperService.getTextEditorSettings()" name="description" required [(ngModel)]="jobModel.description"></textarea>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 1 -->

  <!-- Step 2 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[2]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form2="ngForm">
        <div class="rec-input-group relative">
          <label class="rec-label full-width rl-secondary">REQUIRED SKILLS<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="reqSkillsInfo()"></ion-icon></label>
          <select-searchable name="reqSkills" class="rec-select-searchable-btn circle clearfix" [(ngModel)]="reqSkills" [items]="reqSkillOptions"
            itemTextField="name" [canSearch]="true" [multiple]="true" title="Required Skills">
          </select-searchable>
          <div class="rec-input-group">
            <ion-list class="rec-reorder-list">
              <div class="list-header-wrapper">
                <ion-list-header class="header-no-min-height"> </ion-list-header>
              </div>
              <ion-item-group reorder="true" side="start" (ionItemReorder)="$event.applyTo(reqSkills)">
                <ion-item *ngFor="let skill of reqSkills; let i = index">
                  <h5>{{ skill.name }}</h5>
                  <ion-icon name="md-close-circle" class="fake-link" (click)="removeReqSkill(i)"></ion-icon>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </div>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 2 -->

  <!-- Step 3 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[3]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form3="ngForm">
        <!-- <div class="rec-input-group-small">
          <label class="rec-label full-width rl-secondary">RECOMMENDED SKILLS WEIGHT<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="recommendedSkillsWeightInfo()"></ion-icon></label>
          <ion-label class="range-label left">LESS IMPORTANT</ion-label>
          <ion-label class="range-label right">MORE IMPORTANT</ion-label>
          <ion-range class="labeled" name="recommendedSkillsWeight" min="0" max="50" step="10" snaps="true" color="primary" [(ngModel)]="jobModel.recommendedSkillsWeight"></ion-range>
        </div> -->
        <div class="rec-input-group-small relative">
          <label class="rec-label full-width rl-secondary">RECOMMENDED SKILLS<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="recommendedSkillsInfo()"></ion-icon></label>
          <select-searchable name="recommendedSkills" class="rec-select-searchable-btn circle clearfix" [(ngModel)]="recommendedSkills" [items]="recommendedSkillOptions"
            itemTextField="name" [canSearch]="true" [multiple]="true" title="Recommended Skills">
          </select-searchable>
          <div class="rec-input-group">
            <ion-list class="rec-reorder-list">
              <div class="list-header-wrapper">
                <ion-list-header class="header-no-min-height"> </ion-list-header>
              </div>
              <ion-item-group reorder="true" side="start" (ionItemReorder)="$event.applyTo(recommendedSkills)">
                <ion-item *ngFor="let skill of recommendedSkills; let i = index">
                  <h5>{{ skill.name }}</h5>
                  <ion-icon name="md-close-circle" class="fake-link" (click)="removeRecommendedSkill(i)"></ion-icon>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </div>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 3 -->
  
  <!-- Step 4 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[4]" [hidden]="formSeq.initHide">
    <ion-col>
      <ion-row class="step-4-message">
        <ion-col>
          <h3 class="text-center no-padding">Some of the following fields are optional. Leave them blank to ignore the filter.</h3>
        </ion-col>
      </ion-row>
      <form #form4="ngForm">
        <div class="rec-input-group-small">
          <label class="rec-label full-width rl-secondary">MATCH THRESHOLD<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="thresholdInfo()"></ion-icon></label>
          <ion-label class="range-label left">MORE MATCHES</ion-label>
          <ion-label class="range-label right">BETTER MATCHES</ion-label>
          <ion-range class="labeled" name="matchThreshold" min="30" max="80" step="10" snaps="true" color="primary" [(ngModel)]="jobModel.matchThreshold"></ion-range>
        </div>
        <!-- <div class="rec-input-group">
          <label class="rec-label rl-secondary">MINIMUM GPA<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="minGpaInfo()"></ion-icon></label>
          <input type="number" name="minGpa" class="rec-input ri-grey" [(ngModel)]="jobModel.minGpa">
        </div> -->
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 4 -->

  <!-- Step 5 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[5]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form5="ngForm">
        <div class="rec-input-group-small">
          <label class="rec-label full-width rl-secondary">JOB DURATION<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="durationInfo()"></ion-icon> <ion-badge class="rec-badge float-right">{{ jobModel.duration }} {{ (jobModel.duration == 1) ? 'day' : 'days' }}</ion-badge></label>
          <ion-range name="duration" min="0" max="7" step="1" snaps="true" color="primary" [(ngModel)]="jobModel.duration"></ion-range>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 5 -->

  <!-- Step 6 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[6]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form6="ngForm">
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">JOB PROBLEM STATEMENT<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="problemStatementInfo()"></ion-icon></label>
          <textarea [froalaEditor]="helperService.getTextEditorSettings()" name="problemStatement" required [(ngModel)]="jobModel.problemStatement"></textarea>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 6 -->

  <!-- Step 7 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[7]" [hidden]="formSeq.initHide">
    <ion-col>

      <!-- Existing Form -->
      <form #existingForm="ngForm" class="existing-link-list">
        <div class="rec-input-group-small">
          <label class="rec-label rl-primary">SELECT EXISTING LINKS</label>
          <ion-select name="selectedLink" class="rec-input ri-grey" [(ngModel)]="existingLinkModel" multiple="false" (ionChange)="selectChanged($event)">
            <ion-option *ngIf="existingLinkOptions && existingLinkOptions.length > 0" value="-1">None</ion-option>
            <ion-option *ngFor="let link of existingLinkOptions" [value]="link">{{ link.title }}</ion-option>
            <ion-option *ngIf="!existingLinkOptions || existingLinkOptions.length == 0" value="-1">No Profile Presentation Links</ion-option>
          </ion-select>
        </div>
      </form>
      <!-- End Existing Form -->

      <form #form7="ngForm">
        <ion-list class="rec-reorder-list">
          <div class="list-header-wrapper">
            <ion-list-header>PRESENTATION LINKS<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="presentationInfo()"></ion-icon></ion-list-header>
            <button class="rec-btn-circle-small rec-btn-primary" (click)="addLink()" [disabled]="linksList.length == 3">
              <ion-icon name="md-add" class="rec-btn-icon"></ion-icon>
            </button>
          </div>
          <ion-item-group reorder="false" side="start" (ionItemReorder)="$event.applyTo(linksList)">
            <ion-item *ngFor="let item of linksList; let i = index" class="link-list-item compact">
              <ion-icon name="{{ item.icon }}" [ngStyle]="{'color': item.color}" class="link-list-display-icon"></ion-icon>
              <h5>{{ item.title }}</h5>
              <p>{{ item.link }}</p>
              <ion-icon name="md-eye" class="link-details-icon fake-link" (click)="showLinkDetails(item)"></ion-icon>
              <ion-icon name="md-close-circle" class="fake-link" (click)="removeLink(i)"></ion-icon>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 7 -->

</ion-content>

<!-- Button Footer -->
<ion-footer class="button-footer">
  <ion-row>
     <button class="rec-btn-circle-large rec-btn-primary rec-load-btn prev-btn" (click)="prevBtn()" [disabled]="saving || formSeq.currentStep == 0">
      <ion-icon name="ios-arrow-back" (click)="prevBtn()"></ion-icon>
    </button>
    <button class="rec-btn-small rec-btn-primary continue-btn rec-load-btn" (click)="continueClicked()" [disabled]="saving">
      {{ (formSeq.currentStep == formSeq.maxSteps) ? ((saving) ? '' : ((editMode) ? 'Save' : 'Finish')) : ((saving) ? '' : 'Continue') }}
      <ion-spinner class="white" name="dots" [hidden]="!saving"></ion-spinner>
    </button>
  </ion-row>
</ion-footer>
<!-- End Button Footer -->
