<ion-header class="rec-header">
  <ion-row>
    <!-- Back Icon -->
    <ion-row class="row-back-icon">
      <ion-icon name="arrow-round-back" class="icon-link back-icon block fg-dark opacity-50" (click)="backBtn()"></ion-icon>
    </ion-row>
    <!-- End Back Icon -->

    <!-- Title -->
    <ion-row class="row-title">
      <h1 class="fg-grey text-center no-padding">RecruitR</h1>
      <h3 class="text-center no-padding">{{ formSeq.formTitles[formSeq.currentStep] }}</h3>
    </ion-row>
    <!-- End Title -->

    <!-- Progress Bar -->
    <ion-row class="row-progress">
      <ion-col>
        <div class="progress-bar-wrapper">
          <p class="progress-bar-label no-margin">STEP {{ formSeq.currentStep + 1 }} of {{ formSeq.maxSteps + 1 }}</p>
          <div class="progress-bar">
            <div class="bar" [style.width.%]="formSeq.progressWidth"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <!-- End Progress Bar -->

  </ion-row>
</ion-header>

<ion-content padding class="rec-content bg-white">

  <!-- Step 0 -->
  <ion-row class="row-form " [ngClass]="formSeq.formClasses[0]">
    <ion-col>
      <form #form0="ngForm">
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">JOB TITLE</label>
          <input type="text" name="positionTitle" class="rec-input ri-grey" required [(ngModel)]="jobModel.positionTitle">
        </div>
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">JOB LOCATIONS</label>
          <ion-select name="locations" class="rec-input ri-grey" required [(ngModel)]="jobModel.locations" multiple="true">
            <ion-option *ngFor="let option of recruiter.company.locations" value="{{ option }}">{{ option }}</ion-option>
          </ion-select>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 0 -->

  <!-- Step 1 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[1]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form1="ngForm">
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">JOB DESCRIPTION
            <ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="descriptionInfo()"></ion-icon>
          </label>
          <textarea name="description" class="rec-input ri-grey" required [(ngModel)]="jobModel.description">
            </textarea>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 1 -->

  <!-- Step 2 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[2]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form2="ngForm">
        <div class="rec-input-group relative">
          <label class="rec-label full-width rl-secondary">REQUIRED SKILLS<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="reqSkillsInfo()"></ion-icon></label>
          <select-searchable name="reqSkills" class="rec-select-searchable-btn circle clearfix" [(ngModel)]="reqSkills" [items]="reqSkillOptions"
            itemTextField="name" [canSearch]="true" [multiple]="true" title="Required Skills">
          </select-searchable>
          <div class="rec-input-group">
            <ion-list class="rec-reorder-list">
              <div class="list-header-wrapper">
                <ion-list-header class="header-no-min-height"> </ion-list-header>
              </div>
              <ion-item-group reorder="true" side="start" (ionItemReorder)="$event.applyTo(reqSkills)">
                <ion-item *ngFor="let skill of reqSkills; let i = index">
                  <h5>{{ skill.name }}</h5>
                  <ion-icon name="md-close-circle" class="fake-link" (click)="removeReqSkill(i)"></ion-icon>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </div>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 2 -->

  <!-- Step 3 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[3]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form3="ngForm">
        <div class="rec-input-group-small">
          <label class="rec-label full-width rl-secondary">NICE TO HAVE SKILLS WEIGHT<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="nthSkillsWeightInfo()"></ion-icon>
            <ion-badge class="rec-badge float-right">{{ jobModel.niceToHaveSkillsWeight }} %</ion-badge>
          </label>
          <ion-range name="niceToHaveSkillsWeight" min="0" max="100" step="10" snaps="true" color="primary" [(ngModel)]="jobModel.niceToHaveSkillsWeight"></ion-range>
        </div>
        <div class="rec-input-group-small relative">
          <label class="rec-label full-width rl-secondary">NICE TO HAVE SKILLS<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="nthSkillsInfo()"></ion-icon></label>
          <select-searchable name="nthSkills" class="rec-select-searchable-btn circle clearfix" [(ngModel)]="nthSkills" [items]="nthSkillOptions"
            itemTextField="name" [canSearch]="true" [multiple]="true" title="NTH Skills">
          </select-searchable>
          <div class="rec-input-group">
            <ion-list class="rec-reorder-list">
              <div class="list-header-wrapper">
                <ion-list-header class="header-no-min-height"> </ion-list-header>
              </div>
              <ion-item-group reorder="true" side="start" (ionItemReorder)="$event.applyTo(nthSkills)">
                <ion-item *ngFor="let skill of nthSkills; let i = index">
                  <h5>{{ skill.name }}</h5>
                  <ion-icon name="md-close-circle" class="fake-link" (click)="removeNthSkill(i)"></ion-icon>
                </ion-item>
              </ion-item-group>
            </ion-list>
          </div>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 3 -->
  
  <!-- Step 4 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[4]" [hidden]="formSeq.initHide">
    <ion-col>
      <ion-row class="row-message">
        <ion-col>
          <h3 class="text-center no-padding">Leave these fields blank if you wish to ignore these filters.</h3>
        </ion-col>
      </ion-row>
      <form #form4="ngForm">
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">MINIMUM GPA<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="minGpaInfo()"></ion-icon></label>
          <input type="number" name="minGpa" class="rec-input ri-grey" [(ngModel)]="jobModel.minGpa">
        </div>
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">HAS WORK EXPERIENCE<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="workExperienceInfo()"></ion-icon></label>
          <ion-item class="ghost-ion-item float-right">
            <ion-toggle name="hasWorkExperience" class="rec-input" checked="false" [(ngModel)]="jobModel.hasWorkExperience"></ion-toggle>
          </ion-item>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 4 -->

  <!-- Step 5 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[5]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form5="ngForm">
        <div class="rec-input-group-small">
          <label class="rec-label full-width rl-secondary">JOB DURATION<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="durationInfo()"></ion-icon> <ion-badge class="rec-badge float-right">{{ jobModel.duration }} {{ (jobModel.duration == 1) ? 'day' : 'days' }}</ion-badge></label>
            <ion-range name="duration" min="1" max="14" step="1" snaps="true" color="primary" [(ngModel)]="jobModel.duration"></ion-range>
        </div>
        <div class="rec-input-group-small">
          <label class="rec-label full-width rl-secondary">MATCH THRESHOLD<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="thresholdInfo()"></ion-icon> <ion-badge class="rec-badge float-right">{{ jobModel.matchThreshold }} %</ion-badge></label>
            <ion-range name="matchThreshold" min="30" max="100" step="10" snaps="true" color="primary" [(ngModel)]="jobModel.matchThreshold"></ion-range>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 5 -->

  <!-- Step 6 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[6]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form6="ngForm">
        <div class="rec-input-group">
          <label class="rec-label rl-secondary">JOB PROBLEM STATEMENT<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="problemStatementInfo()"></ion-icon></label>
          <textarea name="problemStatement" class="rec-input ri-grey" required [(ngModel)]="jobModel.problemStatement">
          </textarea>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 6 -->

  <!-- Step 7 -->
  <ion-row class="row-form" [ngClass]="formSeq.formClasses[7]" [hidden]="formSeq.initHide">
    <ion-col>
      <form #form7="ngForm">
        <ion-list class="rec-reorder-list">
          <div class="list-header-wrapper">
            <ion-list-header>PRESENTATION LINKS<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="presentationInfo()"></ion-icon></ion-list-header>
            <button class="rec-btn-circle-small rec-btn-primary" (click)="addLink()" [disabled]="linksList.length == 3">
              <ion-icon name="md-add" class="rec-btn-icon"></ion-icon>
            </button>
          </div>
          <ion-item-group reorder="true" side="start" (ionItemReorder)="$event.applyTo(linksList)">
            <ion-item *ngFor="let item of linksList; let i = index">
              <h5>{{ item.title }}</h5>
              <p>{{ item.link }}</p>
              <ion-icon name="md-close-circle" class="fake-link" (click)="removeLink(i)"></ion-icon>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Step 7 -->

</ion-content>

<!-- Button Footer -->
<ion-footer class="button-footer">
  <ion-row>
    <button class="rec-btn rec-btn-primary btn-stacked center rec-load-btn" (click)="continueClicked()" [disabled]="saving">
      {{ (formSeq.currentStep == formSeq.maxSteps) ? ((saving) ? '' : 'Finish') : 'Continue' }}
      <ion-spinner class="white" name="dots" [hidden]="!saving"></ion-spinner>
    </button>
  </ion-row>
</ion-footer>
<!-- End Button Footer -->
