<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Presentation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-full-image" padding>
  <div class="match-card-container" *ngIf="matchList != undefined && (matchList != undefined && matchList.length > 0)">
    <div class="match-list">
      <div class="match-card-success" [ngClass]="{'fade': matchSuccessFade, 'transform': matchSuccessTransform}" [hidden]="!matchSuccess">
        <ion-icon name="checkmark-circle" class="content" [ngClass]="{'fade': matchSuccessContentFade}"></ion-icon>
      </div>
  
      <!-- Match Card -->
      <div class="match-card" [ngClass]="{'fade-left': fadeLeft, 'fade-right': fadeRight, 'fade-left-instant': fadeLeftInstant, 'fade-right-instant': fadeRightInstant}" [hidden]="hideCard">
        <!-- Card Header -->
        <div class="match-card-header">
          <ion-icon name="arrow-round-back" class="icon-link back-icon block fg-dark opacity-50" (click)="backBtn()" [hidden]="stage == 0"></ion-icon>
          <h3 class="title fg-primary text-center">{{ match.job.company.companyName }}</h3>
          <p class="fg-grey text-center">{{ (match.matchedIndustry) ? match.matchedIndustry : match.job.company.industries[0] }}</p>
        </div>
        <!-- End Card Header -->
  
        <!-- Company Presentation Card Content -->
        <div class="match-card-content" [ngClass]="{'slide-left': stage > 0}">
          <div class="company-work-statement content-section">
            <div *ngFor="let link of match.job.presentationLinks">
              <h3 class="heading fg-dark"><ion-icon name="md-easel" class="card-heading-icon"></ion-icon>{{ link.title }}:</h3>
              <p class="fg-dark fake-link" (click)="openLink(link.link)">{{ link.link }}</p>
            </div>
          </div>
        </div>
        <!-- End Company Presentation Card Content -->
  
        <!-- Your Presentation Card Content -->
        <div class="match-card-content" [ngClass]="{'slide-right': stage < 1}">
          <div class="company-work-statement content-section">
            <h3 class="heading fg-dark">
              <ion-icon name="md-chatboxes" class="card-heading-icon"></ion-icon>Add Presentation Links:</h3>
            <p class="fg-dark">This is your chance to show the recruiter anything of yours that you would like to share. This could be a link to a video
            of yourself, a GitHub link, a personal website, or anything else.</p>
          </div>
        </div>
        <!-- End Your Presentation Card Content -->
  
        <!-- Card Footer -->
        <div class="match-card-footer">
          <button class="rec-btn-small rec-btn-deny float-left" (click)="decline()">
            <ion-icon name="md-thumbs-down" class="card-heading-icon"></ion-icon>Decline</button>
          <button class="rec-btn-small rec-btn-accept float-right" (click)="interested()">{{ (stage == maxStage) ? "Submit" : "Interested"}}<ion-icon name="md-thumbs-up" class="card-heading-icon-right"></ion-icon></button>
        </div>
        <!-- End Card Footer -->
      </div>
      <!-- End Match Card -->
  
    </div>
  </div>
  <div class="match-list-empty" *ngIf="matchList == undefined || matchList.length == 0">
    <ion-icon name="md-easel" class=""></ion-icon>
    <div class="sep-horizontal-1"></div>
    <h3 class="fg-white text-center">You don't have any jobs in the presentation phase. First apply to matched jobs in the first tab. If the recruiter likes what they see, that job will show up here!</h3>
    <div class="sep-horizontal-1"></div>
  </div>
</ion-content>
