page-student-work-experience {
  ion-content.content-ios, ion-content.content-md {
    background-color: map-get($colors, light);
  }

  .row-back-icon {
      padding-left: 10px;
      padding-top: 10px;
      position: absolute;

      .back-icon {
        opacity: .6;
      }
  }

  .row-progress {
    margin-top: 2vh;
  }

  .row-form {
    margin-top: 3vh;
  }

  .row-buttons {
    margin-top: 8vh;
  }
}
