<ion-header class="rec-header">
  <ion-row>
    <!-- Back Icon -->
    <ion-row class="row-back-icon">
      <ion-icon name="close" class="icon-link back-icon block fg-dark opacity-50" (click)="backClicked()"></ion-icon>
    </ion-row>
    <!-- End Back Icon -->

    <!-- Title -->
    <ion-row class="row-title">
      <h1 class="fg-grey text-center no-padding">RecruitR</h1>
      <h3 class="text-center no-padding">Add Presentation Link<ion-icon name="md-information-circle" class="info-icon to-right opacity-75 icon-link fg-dark" (click)="yourPresentationInfo()"></ion-icon></h3>
    </ion-row>
    <!-- End Title -->
  </ion-row>
</ion-header>

<ion-content padding class="rec-content bg-white">

  <!-- Existing Form -->
  <ion-row class="row-existing-form" [hidden]="!allowExisting">
    <ion-col>
      <form #existingForm="ngForm">
        <div class="rec-input-group-small">
          <label class="rec-label rl-secondary">SELECT EXISTING LINK</label>
          <ion-select name="selectedLink" class="rec-input ri-grey" [(ngModel)]="existingLinkModel" multiple="false" (ionChange)="selectChanged($event)">
            <ion-option *ngIf="existingLinkOptions && existingLinkOptions.length > 0" value="-1">None</ion-option>
            <ion-option *ngFor="let link of existingLinkOptions" [value]="link">{{ link.title }}</ion-option>
            <ion-option *ngIf="!existingLinkOptions || existingLinkOptions.length == 0" value="-1">No Profile Presentation Links</ion-option>
          </ion-select>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End Existing Form -->

  <!-- Seperator -->
  <ion-row class="row-sep" [hidden]="!allowExisting">
    <ion-col>
      <div class="rec-sep-or"><span class="left"></span>OR<span class="right"></span></div>
    </ion-col>
  </ion-row>
  <!-- End Seperator -->

  <!-- New Form -->
  <ion-row class="row-new-form">
    <ion-col>
      <form #newForm="ngForm">
        <div class="rec-input-group-small">
          <h2 class="text-center fg-dark"><ion-icon name="{{ linkTypeCurrent.icon }}" [ngStyle]="{'color': linkTypeCurrent.color}" class="link-type-icon"></ion-icon> {{ linkTypeCurrent.pageTitle }}</h2>
        </div>
        <div class="rec-input-group-small">
          <label class="rec-label rl-secondary">LINK TYPE</label>
          <ion-select name="linkType" class="rec-input ri-grey" [(ngModel)]="linkTypeIndex" multiple="false" (ionChange)="typeChanged($event)">
            <ion-option *ngFor="let type of linkTypes; index as i;" [value]="i">{{ type.optionText }}</ion-option>
          </ion-select>
        </div>
        
        <!-- Link Type Fields -->
        <div class="rec-input-group-small" *ngFor="let field of linkTypeCurrent.fields">
          <label class="rec-label rl-secondary">{{ field.label }}</label>
          <div [ngSwitch]="field.type" class="link-type-field">
            <ion-icon name="{{ linkTypeCurrent.icon }}" [ngStyle]="{'color': linkTypeCurrent.color}" class="link-type-field-icon"></ion-icon>
            <input *ngSwitchCase="'text'" type="text" name="field.name" class="rec-input ri-grey" [(ngModel)]="field.value" [required]="field.required ? '' : null">
          </div>
        </div>
        <!-- End Link Type Fields -->

        <div class="rec-input-group-small">
          <label class="rec-label rl-secondary">LINK TITLE</label>
          <input type="text" name="title" class="rec-input ri-grey" required [(ngModel)]="newLinkModel.title">
        </div>

        <div class="rec-input-group-small" [hidden]="!allowExisting">
          <label class="rec-label rl-secondary">SAVE TO PROFILE</label>
          <ion-toggle name="saveToProfile" class="rec-input float-right" checked="false" [(ngModel)]="saveLink"></ion-toggle>
        </div>
      </form>
    </ion-col>
  </ion-row>
  <!-- End New Form -->

</ion-content>

<!-- Button Footer -->
<ion-footer class="button-footer">
  <ion-row>
    <button class="rec-btn-small rec-btn-primary btn-stacked center" (click)="doneClicked()">Add</button>
  </ion-row>
</ion-footer>
<!-- End Button Footer -->