page-student-phase-1 {

  .row-sep {
    margin-top: 6vh;
    margin-bottom: 6vh;
  }

  .custom-statement-buttons {
    margin-bottom: 2vh;

    button {
      height: 45px;
      width: 140px;
    }
  }

  .first-load-message {
    position: absolute;
    left: 0;
    top: 35%;
  }
}
