page-education-details {
  ion-content.content-ios, ion-content.content-md {
    background-color: map-get($colors, light);
  }

  .row-back-icon {
      padding-left: 20px;
      padding-top: 10px;
      position: absolute;

      .back-icon {
        opacity: .6;
      }
  }

  .row-form {
    margin-top: 4vh;
  }

  .row-buttons {
    margin-top: 10vh;
  }
}
